* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

p {
    margin-bottom: 2rem;
    margin-top: 2rem;

}
img {
    cursor: pointer;
}
.image-group {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    justify-content: space-around;
}

.results {
    display: flex;
    justify-content: space-around;
}

.result-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-button {
    font-size: 1.6rem;
    margin: 1rem;
}

img, button {
    display: block;
}
